@use './utils';
@use './base';


@use './components/buttons';
@use './components/carousel-button';
@use './components/chef-card';
@use './components/form-terms';
@use './components/format_card';
@use './components/input';
@use './components/links';
@use './components/pagination';


@use './layouts/advantages-section';
@use './layouts/chefs-section';
@use './layouts/contact-section';
@use './layouts/container';
@use './layouts/footer';
@use './layouts/format-section';
@use './layouts/header';
@use './layouts/hero-section';
@use './layouts/mobile-menu.scss';
@use './layouts/modal';
@use './layouts/section';
@use './layouts/traditions-section';