.form-terms {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    margin-top: 24px;

    &__link {
        color: var(--color-primary-dark);
        text-underline-position: 2px;
    }
}