@use '../utils' as *;

.adventagest-section {
    margin: 40px 21px;
    background-color: transparent;

    @media screen and (min-width: $bp-tablet) {
        background-color: var(--color-brand-normal);
        margin: 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 16px;
        background-color: var(--color-brand-light);
        border-radius: 24px;
        padding: 24px 40px;


        @media screen and (min-width: $bp-tablet) {
            flex-direction: row;
            justify-content: space-between;
            gap: 40px;
            background-color: transparent;
            border-radius: 0;
            padding: 0;
        }

    }

    &__item {
        margin: 0;
        font-weight: 300;
        font-size: 14px;

        @media screen and (min-width: $bp-tablet) {
            color: var(--color-primary-light);
            font-size: 20px;
            margin: 16px 0;
        }

    }
}