@use '../utils/' as *;

.chefs-section {
    &__title {
        position: relative;
        margin: 0 auto px;

        @media screen and (min-width: $bp-desktop) {
            margin: 0 auto 80px;
        }

        &::before,
        &::after {
            display: none;
            position: absolute;
            bottom: 24px;
            width: 352px;
            border: 2px solid var(--color-brand-light);
            content: '';

            @media screen and (min-width: $bp-desktop) {
                display: block;
            }
        }

        &::before {
            left: 0;
        }

        &::after {
            right: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-wrap: wrap;

        @media screen and (min-width: $bp-tablet) {
            gap: 40px 30px;
            flex-direction: row;
        }
    }

    &__item {

        @media screen and (min-width: $bp-tablet) {
            flex-basis: calc((100% - 30px) / 2);
        }

    }
}