.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary-light);
    transform: translateX(100%);
    transition: transform 0.3s;

    &::after {
        position: absolute;
        bottom: 16px;
        right: 0;
        height: 243px;
        width: 190px;
        background-repeat: no-repeat;
        content: '';
        background-image: url('/images/modal-bread.png');
    }

    &.is-open {
        transform: translateX(0);
    }

    &__btn-close {
        position: absolute;
        top: 16px;
        right: 16px;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    &__btn-close:hover {
        cursor: pointer;
    }

    &__list {
        font-weight: 300;
        font-size: 14px;
        margin: 32px 0 0 24px;
    }

    &__link {
        color: var(--color-primary-dark);
        text-decoration: none;
        padding-bottom: 16px;
    }

    &__link:active {
        font-weight: 600;
        color: var(--color-brand-normal);
    }

    &__logo {
        padding: 16px 0 0 24px;
        fill: var(--color-primary-dark);
        color: var(--color-primary-dark);
    }
}