@use '../utils/' as *;

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transition:
        opacity 0.3s,
        visibility 0.3s;

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}

.modal {
    position: relative;
    width: 100%;
    max-width: 880px;
    height: 100%;
    max-height: 880px;
    padding: 48px;
    background-color: var(--color-primary-light);
    border-radius: 32px;
    overflow-y: auto;
    text-align: center;

    &::after {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 243px;
        width: 190px;
        background-repeat: no-repeat;
        content: '';
        background-image: url('/images/modal-bread.png');
    }

    &__btn-close {
        position: absolute;
        top: 40px;
        right: 40px;
        background-color: transparent;
        border: none;
        padding: 0;
    }

    &__btn-close:hover {
        cursor: pointer;
    }


    &__close {
        fill: transparent;
    }

    &__form-field {
        max-width: 605px;
        margin: 0 auto 32px;
    }

    &__btn {
        display: block;
        margin: 0 auto 24px;
    }
}